@model IEnumerable<WebUoFASM1.Models.RoleViewModel>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>

    <h2>Role</h2>

    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Add Role", "Create")
        </p>
    }

    <table>
        <tr>
            <th>Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Name)</td>
            </tr>
        }
    </table>
</body>